<div class="container">
  <md-progress-bar *ngIf="show" mode="indeterminate"></md-progress-bar>
  <md-card fxLayout="row wrap" fxLayoutAlign="space-between start" fxLayoutAlign.lt-sm="start space-between" fx class="mx-dialog">
    <div fxLayoutAlign="center start" fxFlex="grow" fxFlex.gt-md="33.33%">
      <div *ngFor="let data of myData">
        <md-card-subtitle>{{data.dates[0].date | date:'fullDate' }}</md-card-subtitle>
        <md-card-title>{{data.title}}</md-card-title>
        <md-card-content>
          <p *ngFor="let p of data.prices">
            <span *ngIf="p.price != 0">
        <small>price: USD$</small> {{p.price}}
        </span>
          </p>
          <img fxHide.gt-xs md-card-image [alt]="data.thumbnail.path" src="{{data.thumbnail.path + '/landscape_incredible.' + data.thumbnail.extension}}">
          <p [innerHtml]="data.description"></p>
        </md-card-content>
        <md-card-actions>
          <button md-button><md-icon>favorite</md-icon></button>
          <button md-button><md-icon>share</md-icon></button>
        </md-card-actions>
        <md-card-footer>

        </md-card-footer>
      </div>
    </div>
      <div>
      <div *ngFor="let data of myData">
        <h2>Character list</h2>
        <md-nav-list fxLayout="column">
          <a fxFlex="grow" fxFlexAlign="start" md-list-item md-button *ngFor="let link of data.characters.items" (click)="getCharFromAPI(link.resourceURI)">
            <md-icon md-list-icon>pageview</md-icon> {{ link.name }}
          </a>
        </md-nav-list>
      </div>
    </div>
      <div fxHide.xs fxShow.gt-xs>
      <div *ngFor="let data of myData">
        <img [alt]="data.thumbnail.path" src="{{data.thumbnail.path + '/portrait_fantastic.' + data.thumbnail.extension}}">
      </div>
    </div>
  </md-card>
</div>