<!--<md-card class="mx-hero-card">
  <md-card-content>
    <img id="logo-marvel" md-card-image src="../assets/mx-bg-logo-xs.png" alt="Marvel Xperiencie Web App">
    <img md-card-image src="../assets/mx-bg-hero-xs.png" alt="Marvel Xperiencie Web App">
    <p>Discover Marvel Characters and Comics now.</p>
  </md-card-content>
</md-card>-->

<div class="container">
  <div class="pantone">
    <md-card fxLayout="row wrap" fxLayoutAlign="center stretch" fxLayoutAlign.gt-md="center center" fx>
      <div fxFlex="1 1 100%" id="logo-marvel" fxFlex.gt-md="33.33%">
        <img md-card-image src="../assets/mx-bg-logo-xs.png" alt="Marvel Xperiencie Web App">
      </div>
      <!--<div fxHide.gt-md>
        <img md-card-image src="../assets/mx-bg-hero-xs.png" alt="Marvel Xperiencie Web App">
      </div>-->
      <div id="text" fxFlex.gt-sm="grow">
        <h2>Discover Marvel Characters and Comics now.</h2>
      </div>
    </md-card>
  </div>
</div>