.mx-char-thumb{
    height: 20vh;
    background-size: contain;
    background-repeat: no-repeat;
}

@media(min-width:960px){
    img.mat-card-md-image{
        height: 20vw;
        width: 20vw;
    }
}