<md-progress-bar *ngIf="show" mode="indeterminate"></md-progress-bar>
<div fxLayoutWrap fxLayoutAlign="space-between start" fxLayoutGap="1vw" fxLayout.gt-sm="row">
  <md-card *ngFor="let data of myData" fxFlex.xs="grow" fxFlex="nogrow">
    <md-card-content>
      <img md-card-image [alt]="data.thumbnail.path" src="{{data.thumbnail.path + '/portrait_fantastic.' + data.thumbnail.extension}}">
      <md-card-actions fxLayoutAlign="space-around">
        <button md-button><md-icon>favorite</md-icon></button>
        <button md-button [routerLink]="['/comics', data.id]"><md-icon>find_in_page</md-icon></button>
        <a md-button href="http://www.facebook.com/Marvel" target="_blank">
          <md-icon>share</md-icon>
        </a>
      </md-card-actions>
    </md-card-content>

  </md-card>