<!--************** Cards ******************-->
<div fxLayoutWrap fxLayoutAlign="center space-between" fxLayout="column" fxLayout.gt-md="row" fxLayoutGap="1vw">
  <md-progress-bar *ngIf="show" mode="indeterminate"></md-progress-bar>
  <md-card class="char-card" *ngFor="let data of myData" fxLayout="column" fxFlexAlign="start" fxFlex="grow" fxFlex.gt-md="1 1 calc(20vw + 1vw)">
    <img md-card-image src="{{data.thumbnail.path+'.'+ data.thumbnail.extension}}">
    <md-card-title>{{data.name}}</md-card-title>
    <md-card-content>
      <p>{{data.description}}</p>
    </md-card-content>
    <md-card-actions align="end">
      <button md-button [routerLink]="['/character', data.id]"><md-icon>local_library</md-icon> SHOW COMICS</button>
      <a md-button href="http://www.facebook.com/Marvel" target="_blank">
        <md-icon>share</md-icon> SHARE
      </a>
    </md-card-actions>
  </md-card>
</div>